rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /produtos/{produtoId} {
      // O site público pode consultar os preços.
      allow read: if true;

      // Melissa: qualquer usuário autenticado consegue salvar durante a configuração.
      // Depois de confirmar o UID do ADM, podemos deixar somente ele com write.
      allow write: if request.auth != null;
    }
  }
}
